# Copy this to .env and fill in your values
# Never commit .env to Git

DEBUG=false
DATABASE_URL=postgresql://user:password@localhost:5432/soc_db
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_RAW_LOGS=raw-logs
ELASTICSEARCH_URL=http://localhost:9200
