# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_INPUT_TOPIC=unsw-logs
KAFKA_OUTPUT_TOPIC=predictions

# Spark
SPARK_MASTER=local[*]
SPARK_APP_NAME=AI-SOC-Streaming

# ML
MODEL_DIR=ml/saved_models
PIPELINE_DIR=ml/saved_models

# Streaming behaviour
BATCH_INTERVAL_SECS=5
SEQUENCE_LENGTH=10
PRODUCER_DELAY_SECS=0.5
